name: Playwright Tests

on:
  push:
    branches: [ main, master, feature/test ]
  pull_request:
    branches: [ main, master, feature/test ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # Run Tests (allure-results will be created here)
      - name: Run Playwright Tests
        run: npx playwright test

      # Generate HTML Report
      - name: Generate Allure Report
        if: always()
        run: npx allure generate allure-results --clean -o allure-report

      # Upload Allure Raw results
      - name: Upload Allure Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results

      # Upload Allure HTML report
      - name: Upload Allure HTML Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
